.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
!/public/ace/blank.html
!/public/ace/elements.html
!/public/ace/email-newsletter.html
!/public/ace/widgets.html
!/public/ace/index.html
!/public/ace/nestable-list.html
!/public/ace/login.html
!/public/ace/form-elements.html
!/public/ace/mobile-menu-2.html
!/public/ace/calendar.html
!/public/ace/jquery-ui.html
!/public/ace/LICENSE.md
!/public/ace/mobile-menu-3.html
!/public/ace/faq.html
!/public/ace/gallery.html
!/public/ace/timeline.html
!/public/ace/tables.html
!/public/ace/buttons.html
!/public/ace/form-elements-2.html
!/public/ace/profile.html
!/public/ace/search.html
!/public/ace/inbox.html
!/public/ace/grid.html
!/public/ace/email.html
!/public/ace/invoice.html
!/public/ace/jqgrid.html
!/public/ace/error-500.html
!/public/ace/pricing.html
!/public/ace/top-menu.html
!/public/ace/two-menu-2.html
!/public/ace/content-slider.html
!/public/ace/email-navbar.html
!/public/ace/form-wizard.html
!/public/ace/treeview.html
!/public/ace/two-menu-1.html
!/public/ace/wysiwyg.html
!/public/ace/typography.html
!/public/ace/mobile-menu-1.html
!/public/ace/error-404.html
!/public/ace/README.md
!/public/ace/email-contrast.html
!/public/ace/dropzone.html
!/public/ace/email-confirmation.html
